* {
    margin: 0;
    padding: 0;

}

h1 {
    text-align: center;
    font-family: 'Tilt Prism', cursive;
    font-size: 90px;
    font-weight: bold;
    color: #FFA903;
    background-color: #0e3fa9;
    width: 100%;
    height: 140px;
}

.books {
    border: 5px outset;
    position: relative;
    left: -3%;
    font-weight: bold;
    margin: 5%;
    background-color: #FFA903;
}

.movies {
    border: 5px outset;
    position: relative;
    flex-wrap: wrap;
    left: -3%;
    bottom: 7%;
    font-weight: bold;
    margin: 5%;
    background-color: #FFA903;
}

.search {
    border: 3px solid #0e3fa9;
}

.cardbody {
    border: 300px solid black;
}
